<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <app-side-bar></app-side-bar>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card">
            <h5 class="card-header">Booking History</h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>
                    <th>S/n</th>
                    <th>Phone</th>
                    <th>Customer Name</th>
                    <th>Ticket Name</th>
                    <th>Issue Date</th>
                    <th>Status</th>
                    <th>Coupons</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr *ngFor="let booking of bookingList; let i = index">
                    <td>
                      <span class="fw-medium"> {{ i + 1 }} </span>
                    </td>
                    <td>{{ booking.phoneno }}</td>
                    <td>
                      {{ booking.customer_name }}
                    </td>
                    <td>
                      {{ booking.item_name }}
                    </td>
                    <td>
                      {{ booking.issue_date }}
                    </td>

                    <td>
                      <span class="badge rounded-pill bg-label-success me-1"
                        >Booked</span
                      >
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary waves-effect waves-light"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCenter"
                      >
                        Show
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- / Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div
    class="drag-target"
    style="
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    "
  ></div>
</div>
<!-- model -->
<div
  class="modal fade"
  id="modalCenter"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalCenterTitle">Coupons</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-6 mt-2">
            <div class="form-floating form-floating-outline">
              <input
                type="text"
                id="nameWithTitle"
                class="form-control"
                placeholder="Enter Name"
              />
              <label for="nameWithTitle">Name</label>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col mb-2">
            <div class="form-floating form-floating-outline">
              <input
                type="email"
                id="emailWithTitle"
                class="form-control"
                placeholder="xxxx@xxx.xx"
              />
              <label for="emailWithTitle">Email</label>
            </div>
          </div>
          <div class="col mb-2">
            <div class="form-floating form-floating-outline">
              <input type="date" id="dobWithTitle" class="form-control" />
              <label for="dobWithTitle">DOB</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary waves-effect"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
